@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@281&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1f242d;
  color: white;
  height: 100vh;
}

.main {
  width: 100%;
  padding: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
}
.navbar .logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.navbar ul {
  display: flex;
  gap: 20px;
}

.navbar ul li {
  list-style: none;
  display: flex;
  color: rgb(231, 231, 231);
  font-size: 17px;
}

.navbar ul li a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}
.navbar ul li a:hover,
.navbar ul li.active a {
  color: #7cf03d;
}

.hero-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 100px 100px;
}

.hero-content {
  width: 70%;
}

.hero-content h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.hero-content h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}
.hero-content h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.7px #7cf03d;
  animation: text-Clip 6s linear infinite;
  animation-delay: calc(-3s * var(--i));
}

@keyframes text-Clip {
  50%,
  100% {
    display: none;
  }
}

.hero-content h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid #7cf03d;
  color: #7cf03d;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 3s linear infinite;
}

@keyframes fill-text {
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 100%;
  }
}

.discription {
  font-size: 15px;
  margin-bottom: 30px;
  color: rgb(200, 200, 200);
  line-height: 1.6;
  width: 48%;
}

.all-btns {
  display: flex;
  gap: 20px;
  height: 60px;
  align-items: center;
}

.hero-content .all-btns button {
  padding: 10px 23px;
  font-size: 18px;
  font-weight: bolder;
  background-color: #7cf03d;
  border: 2px solid #7cf03d;
  box-shadow: 0 0 10px #7cf03d;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.hero-content .all-btns button:hover {
  border: 2px solid #7cf03d;
  background-color: transparent;
  background: transparent;
  color: #1f242d;
  box-shadow: 0 0 10px #7cf03d;
}

.hero-content .all-btns button a {
  text-decoration: none;
  color: #1f242d;
  cursor: pointer;
  transition: 0.3s;
}
.hero-content .all-btns button:hover a {
  color: #7cf03d;
}

.hero-content .all-btns .social {
  display: flex;
  font-size: 30px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #7cf03d;
}
.hero-content .all-btns .social a i {
  background: transparent;
  padding: 8px;
  transition: 0.3s;
  border: 2px solid #7cf03d;
  border-radius: 100%;
}

.hero-content .all-btns .social a i:hover {
  box-shadow: 0 0 10px #7cf03d;
  background-color: #7cf03d;
  color: #1f242d;
}

.hero-picture {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  background-color: #1f242d;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.image-circle {
  width: 390px;
  height: 390px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  background-color: #1f242d;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.hero-picture::before,
.hero-picture::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 420px;
  border-radius: 50%;
  background: conic-gradient(transparent, transparent, transparent, #7cf03d);
  animation: rotate 5s linear infinite;
  z-index: -1;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.hero-picture img {
  width: 100%;
  /* padding-top: 30px; */
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
  /* filter: ; */
  filter: grayscale();
}

.about-image {
  width: 50%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-content {
  width: 50%;
}

hr {
  border: none;
  border-top: 1px solid rgb(78, 78, 78);
  margin: 0px 40px;
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.about-content h3 {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: lighter;
  text-decoration: underline #7cf03d;
  text-underline-offset: 7px;
}

.about-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: medium;
  width: 80%;
}

.about-content p {
  font-size: 15px;
  line-height: 1.8;
  color: rgb(200, 200, 200);
  width: 70%;
}

.about-btn {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 30px;
}

.about-content a {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #7cf03d;
  border: 2px solid #7cf03d;
  box-shadow: 0 0 10px #7cf03d;
  color: #1f242d;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.about-content a:hover {
  color: #7cf03d;
  background-color: transparent;
}

.es-main {
  width: 100%;
  display: flex;
  padding-top: 90px;
  padding-bottom: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(80, 80, 80);
}

.es-main .es-heading {
  font-size: 36px;
  font-weight: lighter;
  text-align: center;
  text-decoration: 2px underline #7cf03d;
  text-underline-offset: 7px;
}

.education-Skills {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  gap: 20px;
}

.es-heading {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.skills {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 25px;
}

li {
  list-style: none;
}
.education {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.education .timeline {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.education .card {
  background: #13161f;
  padding: 20px;
  border-radius: 6px;
  border-left: 4px solid #7cf03d;
  position: relative;
}

.education .date {
  background: #7cf03d;
  color: #13161f;
  display: inline-block;
  padding: 4px 10px;
  font-size: 0.85rem;
  border-radius: 4px;
  position: absolute;
  top: -12px;
  left: 10px;
}

.education h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.education p {
  color: #ccc;
  margin: 0;
  font-size: 0.9rem;
}

.skills {
  width: 600px;
  background: #13161f;
  padding: 40px;
  border-radius: 10px;
}

.skills h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.skills p {
  color: #c0c0c0;
  font-size: 0.95rem;
  margin-bottom: 25px;
  line-height: 1.5;
}

.skills .skill span {
  display: block;
  margin-bottom: 8px;
  margin-top: 8px;
  font-weight: 500;
}

.skills .skill .progress-bar {
  width: 100%;
  height: 6px;
  background-color: #2d2f3b;
  border-radius: 10px;
  position: relative;
}

.skills .skill .progress-bar .progress {
  height: 6px;
  background-color: #7cf03d;
  border-radius: 10px;
  position: relative;
}

.skills .skill .progress-bar .progress::after {
  content: "";
  position: absolute;
  right: 0;
  top: -4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #7cf03d;
}

.projects{
  width: 100%;
  padding: 90px;
}

.projects .projects-heading {
  font-size: 36px;
  width: 90%;
  font-weight: lighter;
  display: flex;
  align-items: start;
  text-decoration: underline #7cf03d;
  text-underline-offset: 7px;
  margin-bottom: 50px;
}

.project-cards{
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;

}

.project-card{
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #13161f;
  padding: 20px;
  border-radius: 10px;
  gap: 15px;
}

.project-card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border:1px solid #949393;
  filter: grayscale(60%);
  opacity: 90%;
}

.project-card h3{
  font-size: 24px;
  font-weight: medium;
}

.project-card p{
  font-size: 15px;
  color: #c0c0c0;
  line-height: 1.6;
}

.project-card a{
  text-decoration: none;
  padding: 8px 15px;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid #7cf03d;
  box-shadow: 0 0 10px #7cf03d;
  color: #7cf03d;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.project-card a:hover {
  background-color: #7cf03d;
  color: #1f242d;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px;
}

.contact .contact-heading {
  font-size: 36px;
  width: 90%;
  font-weight: lighter;
  display: flex;
  align-items: start;
  text-decoration: underline #7cf03d;
  text-underline-offset: 7px;
  margin-bottom: 50px;
}

.contact .contact-Info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.contact .contact-Info .info {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #0b0b13;
  gap: 20px;
}

.contact .contact-Info .info .item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.form-heading {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: medium;
}

.contact .contact-Info .contact-form {
  width: 70%;
  background-color: #0b0b13;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.contact .contact-Info .contact-form div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
   gap: 10px;
}

.contact .contact-Info .contact-form input,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  background-color: #0b0b13;
  color: white;
  border: 1px solid #7cf03d;
  font-size: 15px;
}

.contact .contact-Info .contact-form button {
  padding: 6px 12px;
  font-size: 13px;
  background-color: #7cf03d;
  border: 2px solid #7cf03d;
  box-shadow: 0 0 10px #7cf03d;
  color: #1f242d;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.contact .contact-Info .contact-form button:hover {
  background-color: transparent;
  color: #7cf03d;
  box-shadow: 0 0 10px #7cf03d;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #13161f;
  font-size: 14px;
}
.footer p {
  color: #949393;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    padding: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    display: flex;
  }

  .navbar .logo {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .navbar ul {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .hero-section {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 50px 20px;
  }

  .hero-content {
    width: 100%;
  }

  .hero-content h1 {
    font-size: 35px;
  }

  .hero-content h2 {
    font-size: 22px;
  }

  .hero-content .discription {
    width: 100%;
    font-size: 14px;
  }

  .hero-picture {
    width: 370px;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-circle {
  width: 360px;
  height: 360px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  background-color: #1f242d;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 20px;
    align-items: start;
  }

  .about-content {
    width: 100%;
  }

  .about-content h2 {
    font-size: 28px;
    width: 100%;
  }

  .about-content p {
    width: 100%;
    font-size: 14px;
  }

  .about-image {
    display: none;
  }

  .education-Skills {
    flex-direction: column;
    padding: 25px 0;
    width: 100%;
    gap: 40px;
  }

  .education {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills {
    padding: 25px;
    width: 90%;
  }

  .projects {
    padding: 50px 20px;
  }

  .project-cards{
    flex-direction: column;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .project-card{
    width: 100%;
  }

  .contact {
    padding: 40px 20px;
    width: 100%;
  }

  .contact .contact-Info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    align-items: start;
  }

  .contact .contact-Info .info {
    width: 100%;
  }

  .contact .contact-Info .contact-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact .contact-Info .contact-form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .contact-Info .contact-form input,
  textarea {
    width: 100%;
  }

  .footer {
    font-size: 10px;
  }
}
